:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 960px;
    --main-width: 720px;
    --post-width: 720px;
    --header-height: 60px;
    --footer-height: 80px;
    --radius: 4px;
    --theme: rgb(241, 241, 230);
    --entry: rgb(214, 224, 193);
    --primary: rgb(42, 50, 18);
    --secondary: rgb(47, 50, 36);
    --tertiary: rgb(184, 196, 144);
    --content: rgb(43, 37, 34);
    --hljs-bg: rgb(41, 36, 39);
    --code-bg: rgb(214, 224, 193);
    --border: rgb(220, 226, 205);
    --link-background-color: #e8e3f7;
    --link-color: var(--primary);
    --link-hover-color: #573eaa;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: #6549c0;
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
    --link-transition: all 0.3s ease;
}

.dark {
    --theme: rgb(25, 24, 22);
    --entry: rgb(36, 38, 28);
    --primary: rgb(226, 226, 215);
    --secondary: rgb(214, 224, 193);
    --tertiary: rgb(42, 50, 18);
    --content: rgb(241, 241, 230);
    --hljs-bg: rgb(41, 36, 39);
    --code-bg: rgb(36, 38, 28);
    --border: rgb(47, 50, 36);
    --link-background-color: #5242746d;
    --link-color: var(--primary);
    --link-hover-color: #876fd6;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: var(--link-hover-color);
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

@font-face {
    font-family: 'Avara_Bold';
    src:    url('/font/Bold/Avara-Bold_web.eot');
    src:    url('/font/Bold/Avara-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('/font/Bold/Avara-Bold_web.woff') format('woff'),
            url('/font/Bold/Avara-Bold_web.woff2') format('woff2'),
            url('/font/Bold/Avara-Bold_web.ttf') format('truetype'),
            url('/font/Bold/Avara-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('/font/BoldItalic/Avara-Bold_Italic_web.eot');
    src:    url('/font/BoldItalic/Avara-Bold_Italic_web.eot?#iefix') format('embedded-opentype'),
            url('/font/BoldItalic/Avara-Bold_Italic_web.woff') format('woff'),
            url('/font/BoldItalic/Avara-Bold_Italic_web.woff2') format('woff2'),
            url('/font/BoldItalic/Avara-Bold_Italic_web.ttf') format('truetype'),
            url('/font/BoldItalic/Avara-Bold_Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:    url('/font/Black/Avara-Black_web.eot');
    src:    url('/font/Black/Avara-Black_web.eot?#iefix') format('embedded-opentype'),
            url('/font/Black/Avara-Black_web.woff') format('woff'),
            url('/font/Black/Avara-Black_web.woff2') format('woff2'),
            url('/font/Black/Avara-Black_web.ttf') format('truetype'),
            url('/font/Black/Avara-Black_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
